.intro {
  color: aqua;
}
.style1 {
  background:aqua;
  color: pink;
  border: 10px solid pink;
  text-align: center;  
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}
.style2 {
  background: teal;
  color: coral;
  border: 10px solid coral;
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  text-align: center;
}
.bold {
  font-weight: bolder;
  font-style: italic;
}
img {
  float: left;
}
.column {
  width: 300px;
  float: left;
}
.color{
  background-color: teal;
}
.quarter{
  width: 200px;
  height: 200px;
  background: coral;
  border-radius: 0 0 200px 0;
  -moz-border-radius: 0 0 200px 0;
  -webkit-border-radius: 0 0 200px 0;
  color: teal;
  float: left;
}
.quarter2{
  width: 200px;
  height: 200px;
  background: coral;
  border-radius: 0 0 0 200px;
  -moz-border-radius: 0 0 0 200px;
  -webkit-border-radius: 0 0 0 200px;
  color: teal;
  float:right;
}